@charset "utf-8";
a:hover,
a:active,
a:focus {
    /* 此组选择器将为键盘导航者提供与鼠标使用者相同的悬停体验。 */
    text-decoration: none;
}

body {
    font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
    background: #e2eaf8;
    margin: 0;
    padding: 0;
    color: #000;
}

/* #img-wrap {
    margin-left: 100px;
}
 */
.sec {
    border: #808080 solid 2px;
    margin: 0 5%;
}

.sulan {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sec h2 {
    color: #003893;
    font-size: 24px;
    background-color: #d5d5d5;
}

#news {
    border: 2px solid #003893;
    padding: 20px 10px 50px;
    margin-right: 100px;
    background-color: #f3f2f2cf;
}

#news a {
    color: rgb(110, 31, 31);
    font-size: 16px;
}
#news h2{
    border-bottom:2px solid #003893;
}


.popularity {
    display: flex;
    justify-content: center;
/*     padding-left: 20px;
 */}
.popularity img{
    width: 18px;
}
.sec a{
    text-decoration: none;
    color: #000;
    position: relative;
}
.sec li{
    border-bottom: 1px dashed #003893;
}
 .sec a:hover{
    text-decoration: underline;

}
.article{
    display: grid;
    grid-template-columns: 1fr 1fr 4fr 1fr;
    grid-template-rows: repeat(7,1fr);
}
.icons{
    
    grid-row: 1/-1;
    grid-column: 1/1;
    justify-self: center;
}
.icons img{
    max-width: 27px;
    opacity: .6;
}
.article li{
    font-size: large;
}
.article ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    grid-row: 1/-1;
    grid-column: 2/2;
}

h1,
h2,
h3,
h4,
h5,
h6,p
 {
    margin-top: 0;
    /* 删除上边距可以解决边距会超出其包含的 div 的问题。剩余的下边距可以使 div 与后面的任何元素保持一定距离。 */
    padding-right: 15px;
    padding-left: 15px;
    /* 向 div 内的元素侧边（而不是 div 自身）添加填充可避免使用任何方框模型数学。此外，也可将具有侧边填充的嵌套 div 用作替代方法。 */
}

a img {
    /* 此选择器将删除某些浏览器中显示在图像周围的默认蓝色边框（当该图像包含在链接中时） */
    border: none;
}


#img-wrap {

    width: 1120px;
    height: 440px;
    position: relative;
    overflow: hidden;
}

#img-wrap img {
    width: auto;
    height: auto;
    max-width: 1120px;
    max-height: 440px;
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    /*opacity: 0;*/
    z-index: 1;
}

/* #img-wrap img:first-child {
    animation: h1 12s linear 0s infinite;
    -webkit-animation: h1 8s linear 0s infinite;
}

#img-wrap img:nth-child(2) {

    animation: h2 12s linear 0s infinite;
    -webkit-animation: h2 8s linear 0s infinite;
}

#img-wrap img:nth-child(3) {
    animation: h3 12s linear 0s infinite;
    -webkit-animation: h3 8s linear 0s infinite;
}

#img-wrap img:nth-child(4) {
    animation: h4 12s linear 0s infinite;
    -webkit-animation: h4 8s linear 0s infinite;
}

@keyframes h1 {
    0% {
        left: -100%;
    }

    25% {
        left: 0;
    }

    50% {
        left: 0;
    }

    75% {
        left: 0;
    }

    100% {
        left: 0;
    }
}

@keyframes h2 {
    0% {
        left: -100%;

    }

    25% {
        left: -100%;

    }

    50% {
        left: 0;

    }

    75% {
        left: 0;

    }

    100% {
        left: 0;

    }
}

@keyframes h3 {
    0% {
        left: -100%;

    }

    25% {
        left: -100%;

    }

    50% {
        left: -100%;

    }

    75% {
        left: 0;

    }

    100% {
        left: 0;

    }
}

@keyframes h4 {
    0% {
        left: -300px;

    }

    25% {
        left: -300px;

    }

    50% {
        left: -300px;

    }

    75% {
        left: -300px;

    }

    100% {
        left: 0;

    }
} */