@charset "utf-8";
a:hover,
a:active,
a:focus {
    /* 此组选择器将为键盘导航者提供与鼠标使用者相同的悬停体验。 */
    text-decoration: none;
}

body {
    font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
    background: #e2eaf8;
    margin: 0;
    padding: 0;
    color: #000;
}

.sec {
    border: #808080 solid 2px;
    margin: 0 5%;
}

.sulan {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sec h2 {
    color: #003893;
    font-size: 24px;
    background-color: #d5d5d5;
}

#news {
    border: 2px solid #003893;
    padding: 20px 10px 50px;
    margin-right: 100px;
    background-color: #f3f2f2cf;
}

#news a {
    color: rgb(110, 31, 31);
    font-size: 16px;
}
#news h2{
    border-bottom:2px solid #003893;
}


.popularity {
    display: flex;
    justify-content: center;
/*     padding-left: 20px;
 */}
.popularity img{
    width: 18px;
}
.sec a{
    text-decoration: none;
    color: #000;
    position: relative;
}
.sec li{
    border-bottom: 1px dashed #003893;
}
 .sec a:hover{
    text-decoration: underline;

}
.article{
    display: grid;
    grid-template-columns: 1fr 1fr 4fr 1fr;
    grid-template-rows: repeat(7,1fr);
}
.icons{
    
    grid-row: 1/-1;
    grid-column: 1/1;
    justify-self: center;
}
.icons img{
    max-width: 27px;
    opacity: .6;
}
.article li{
    font-size: large;
}
.article ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    grid-row: 1/-1;
    grid-column: 2/2;
}

h1,
h2,
h3,
h4,
h5,
h6,p
 {
    margin-top: 0;
    padding-right: 15px;
    padding-left: 15px;
}

a img {
    border: none;
}


#warp {
    width: 1226px;
    height: 580px;
    position: relative;
    overflow: hidden;
}
#warp .imgList {
    display: flex;
    position: relative;
    left: -0;
    width: 100%;
    height: 100%;
}
#warp .imgList img {
        width: 100%;
        cursor: pointer;
}
#wrap a {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        display: block;
        width: 40px;
        height: 70px;
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        user-select: none;
        font-size: 30px;
        text-align: center;
        line-height: 70px;
        text-decoration: none;
      }

      #wrap a.left {
        left: 0;
      }

      #wrap a.right {
        right: 0;
      }
      .circle-list {
        display: flex;
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translate(-50%, 0);
        width: 240px;
        height: 40px;
        z-index: 8;
      }
      .circle-list > .circle {
        margin: 0 5px;
        width: 30px;
        height: 30px;
        background-color: #ecf0f1;
        border-radius: 50%;
      }

      .circle-list > .circle.active {
        background-color: #e74c3c;
      }

